<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="test.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>MedLab</title>
</head>
<body class="body">
<div class="topnav">
    <a class="active">MEDLAB</a>
    <a href="/home">Home</a>
    <a href="/receipt">Receipt</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <div class="searchComp">
    <form action="searchMedicine" method="post">
            <input type="text" placeholder="Search.." name="name">
                <button type="submit" value="Add"><i class="fa fa-search"></i></button>

    </form>
    </div>
    <div class="logoutDiv">
        <form th:action="@{/logout}" method="post">
                <span>Welcome <b>[[${#request.userPrincipal.principal.username}]]</b></span>
            <button type="submit" value="Add">Sign out</button>
        </form>
    </div>
    <div class="addComp" th:if="${#request.userPrincipal.principal.isAdmin}">
        <form action="showAddPage" method="get">
            <div>
                <button type="submit" value="Add">Add Medicine</button>
            </div>
        </form>
    </div>
</div>
<br />
<div class="content">
<div class="center">
    <h1>MedLab</h1>

    <table cellpadding="0" cellspacing="0" border="0">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Weight</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ListMedicines : ${ListMedicines}">
            <td th:text="${ListMedicines.id}" ></td>
            <td th:text="${ListMedicines.name}" ></td>
            <td th:text="${ListMedicines.numberOfElements}" ></td>
            <td th:text="${ListMedicines.Grammage}"></td>
            <td th:text="${ListMedicines.price} + zł" ></td>
            <td th:if="${#request.userPrincipal.principal.isAdmin == false}"><a class="ReservationBtn" th:href="@{'/home/' + ${ListMedicines.id}}">Add</a></td>
            <td th:if="${#request.userPrincipal.principal.isAdmin}"><a class="ReservationBtn" th:href="@{'/update/' + ${ListMedicines.id}}">Edit</a></td>
        </tr>
        </tbody>
    </table><br />
    <td>
    </td>
</div>
</div>
<div class="formButton">
    <form action="showCart" method="get">
        <div th:if="${#request.userPrincipal.principal.isAdmin == false}">
            <button type="submit" value="Add">YourCart</button>
        </div>
    </form>
</div>
<div class="subtitles">By Radoslaw Barczynski <a href="/home" page="1">1</a> <a th:href="@{/home(page = 2)}" name="2">2</a></div>
</body>
</html>